extends layout

block head
    title #{name}

block body
    h1 #{name}
    input(type='search', value=params.search)
    table
        tbody
            each row in rows
                tr
                    each value, key in row
                        if references[key]
                            td
                                a(href='/elka/' + references[key] + '?id=' + value) #{value}
                        else
                            td #{value}
